.App {
  font-family: sans-serif;
  text-align: center;
  width: 100%;
  height: 100%;
}

button {
}

.styleBlockBegin {
  background-color: lightblue;
}

.styleBlockWait {
  background-color: #ff4e29;
}

.styleBlockGreen {
  background-color: #37e016;
}

.styleBlockBlue {
  background-color: blue;
  color: white;
}

.styleBlockBegin,
.styleBlockWait,
.styleBlockGreen,
.styleBlockBlue {
  padding: 20%;
  border-radius: 25px;
}
