.App {
  font-family: sans-serif;
  text-align: center;
  width: 100%;
  height: 100%;
}

.styleBlockBegin {
  background-color: lightblue;
}

.styleBlockWait {
  background-color: #ff4e29;
}

.styleBlockGreen {
  background-color: #37e016;
}

.styleBlockBlue{
  background-color: blue;
  color: white;
}